/.wwebjs_auth/
/.env
/.python-version
/.idea/
/.venv/
/bin/dog.lock
/bin/dog.pid
/bin/web.pids
__pycache__/
/node_modules/
/**/node_modules/
/yarn.lock
*.py-E
*.pclprof
test.py
/assets/
/cache/
/cache_test/
/files/
/files_test/
/protected/
/.htaccess
/gdo/*
!/gdo/account/
!/gdo/admin/
!/gdo/base/
!/gdo/core/
!/gdo/date/
!/gdo/form/
!/gdo/file/
!/gdo/install/
!/gdo/language/
!/gdo/mail/
!/gdo/math/
!/gdo/message/
!/gdo/net/
!/gdo/table/
!/gdo/ui/
!/gdo/user/
/DOCS/TESTAMENTUM2.md
/DOCS/TESTAMENTUM3.md
/DOCS/TESTAMENTUM4.md
/DOCS/diary
/testfoo
