aioconsole
aiofiles
asgiref
bcrypt<4.1
beautifulsoup4
discord.py
GitPython
html-purifier
httplib2
Markdown
msgspec
multipart
mysql-connector
openai
packaging
Pillow
prompt_toolkit
psutil
pydantic<2
pypp
python-telegram-bot
python-magic
pytzdata
redis
regex
rcssmin
rich
tomlkit
typing_extensions
websocket-server
yappi
