aioconsole
aiofiles
bcrypt<4.1
html-purifier
httplib2
msgspec
multipart
mysql
mysql-connector
packaging
prompt_toolkit
psutil
pydantic<2
pypp
python-magic
pytzdata
redis
regex
rich
tomlkit
typing_extensions
