"%s" = "%s" # required for hacks do not change!
module_core = "Core"

##############
### Errors ###
##############
error = 'Error'
err_module = "Unknown Module: %s."
err_not_found = "File not found: %s"
err_not_null = "This field may not be left empty. Suggestions: %s."
err_not_null_no_suggestions = "This field may not be left empty."
err_int_min = "may not be smaller than %s."
err_int_max = "may not be larger than %s."
err_str_min_len = "may not be shorter than %d."
err_str_max_len = "may not be longer than %d."
err_repeat_min = "You need to enter at least %s entries."
err_repeat_max = "You may not enter more than %s entries."
err_token = "Your token is invalid."
err_select_candidates = "Too many results: %s."
err_invalid_choice = "Invalid choice. Suggestions: %s."
err_invalid_choice_no_suggestions = "Invalid choice."
err_path_not_exists = "The file %s does not exist."
err_str_pattern = "Invalid input. It has to match r'%s'."


################
### Messages ###
################
msg_back_to = "You can now get back to %s."

##############
### Fields ###
##############
id = "ID"
name = "Name"
title = "Title"
enabled = "Enabled"
login = "Login"
tt_login = "Use your username or your email."
password = "Password"
tt_password = "A password has to be at least 4 characters"
submit = "Submit"
username = "Username"
tt_username = "Your username has to start with a letter"
email = "E-Mail"
tt_email = "Your email should be valid and has to be approved first, to be marked as in-use."
created = "Created at"
creator = "Created by"
deleted = "Deleted at"
deletor = "Deleted by"
count = "Count"
directory = "Directory"
please_choose = "Please choose..."

###########
# GDT_Int #
###########
suggest_any_int = "Any whole number"
suggest_max_int = "A whole number up to %d"
suggest_min_int = "A whole number from %d"
suggest_range_int = "A whole number between %d and %d"

###########
# GDT_Float #
###########
suggest_any_float = "Any decimal number"
suggest_max_float = "A decimal number up to %.01f"
suggest_min_float = "A decimal number from %.01f"
suggest_range_float = "A decimal number between %.01f and %.01f"


##################
### GDT_Select ###
##################
yes = "Yes"
no = "No"
choose = "Please choose"

#################
### Not Found ###
#################
mt_core_not_found = "File Not Found"
md_core_not_found = "The file was not found on this webserver."

###############
### Welcome ###
###############
mt_core_welcome = "Welcome"
md_core_welcome = "A default welcome page for a PyGDO installation."
msg_gdo_working = 'Welcome to your default PyGDO installation.'

############
### Echo ###
############
mt_core_echo = "Echo"
md_core_echo = "The echo command replies it's rest of text parameter."

###############
### Version ###
###############
mt_core_version = "Version"
md_core_version = "Print python and GDO version."
msg_version = "Python %s - GDOv%s"

############
### Help ###
############
mt_core_help = "Command Overview"
md_core_help = "List all available commands for this PyGDO installation."
msg_help_all_commands = "Commands: %s."
msg_help_for = "%s: %s %s"

##############
### Reload ###
##############
mt_core_reload = "Reload"
md_core_reload = "Reloads the application code, except the base module. Useful for long living gdo applications like chatbots or cli repl."
err_reload_module = "Cannot reload module %s: %s"
msg_modules_reloaded = "All modules have been reloaded."

##############
### Launch ###
##############
mt_core_launch = "Launch Chatbot Daemon"
md_core_launch = "This method launches the dog chatbot."
err_dog_already_running = "The bot is already running. You can force a new process with the --force parameter."
msg_all_done = "All Done!"

##################
### Add Server ###
##################
mt_core_add_server = "Add Server"
md_core_add_server = "Add a new Server with a connector."
msg_added_dog_server = "A new %s server has been added: %s ID#%s."

###############
### Servers ###
###############
mt_core_servers = "Servers"
md_core_servers = "List of servers"

############
# Channels #
############
mt_core_channels = "Channels"
md_core_channels = "List of channels."
msg_channels = "There are %s channels on %s: %s."

###################
### Clear Cache ###
###################
mt_core_clear_cache = "Clear Cache"
md_core_clear_cache = "Clear all caches."
msg_cache_cleared = "Caches have been cleared."

############
### Ping ###
############
mt_core_ping = "Ping"
md_core_ping = "Test if the bot is responding."
msg_pong = "PONG"

########
# Link #
########
mt_core_link = "Link Accounts"
md_core_link = "Link accounts to your main account."

###########
# Profile #
###########
mt_core_profile = "%s's Profile"
md_core_profile = "%s's Profile."

############
# Set Name #
############
mt_core_set_name = "Set Displayname"
md_core_set_name = "Set your displayed username."
err_username_taken = "This username is already taken."
msg_username_set = "Your displayname has been set to %s."

##########
# WhoAmI #
##########
mt_core_whoami = "WhoAmI"
md_core_whoami = "WhoAmI"
authenticated = "authenticated"
not_authenticated = "not_authenticated"
info_who_am_i = "Your username is %s (%s) with the following permissions: %s."

#########
# Super #
#########
mt_core_super = "Super"
md_core_super = "Get granted all priviledges on a server."
msg_super_granted = "You got granted all permissions on this server."
err_wrong_superword = "The password is wrong."

########
# Look #
########
mt_core_look = "Channel Users"
md_core_look = "List the online users inside a channel."
msg_look = "There are %d users in %s: %s"

##########
# DB.raw #
##########
mt_core_db_raw = "DB.raw"
md_core_db_raw = "Execute a raw Database query."
msg_db_raw_write = "Success: %s"
and_n_more = "and %s more"

#######
# Die #
#######
mt_core_die = "Die"
md_core_die = "Make the bot quit."
msg_dying = "Shutting down..."

#########
# confs #
#########
mt_core_confs = "Config Server"
md_core_confs = "Configure server settings for a method."
msg_configs = "Configuration for %s: %s."
msg_config = "Configuration for %s.%s is %s"
msg_config_set = "Configuration for %s.%s has been changed from %s to %s."
