* {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    z-index: 0;
    box-sizing: content-box;
}

.green {
    color: green;
}

.red {
    color: red;
}

.gdt-exception pre {
    white-space: pre;
}

.gdt-divider.gdt-horizontal {
    padding: 0 8px;
}

.gdt-divider.gdt-horizontal:BEFORE {
    content: "|";
}
